@model IEnumerable<SalesWebMvcNet6.Models.Seller>

@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>
<p class="py-2">
 <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.BirthDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.BaseSalary)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                <td>@Html.DisplayFor(modelItem => item.BaseSalary)</td>
            </tr>
        }
    </tbody>
</table>